<ion-header>

  <ion-navbar color="dark" >
    <ion-title>ProjectManager</ion-title>
    <ion-buttons end>
        <button ion-button icon-only color="royal" (click)="logOut()" >
          <ion-icon name="log-out"></ion-icon>
        </button>
      </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-card *ngIf="user">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="url+user.userprofile.avatar">
      </ion-avatar>
      <h2>{{user.username}}</h2>
      <p>{{user.email}}</p>
    </ion-item>
  </ion-card>

  <div class="box_projects">
    <h3 class="title">Proyectos ({{projects.length}})</h3>
    <ion-card *ngFor="let project of projects" (swipe)="deleteProject(project.id)" (click)="goToTasks(project)">
        <ion-item>
          <ion-avatar item-start>
            <img [src]="url+project.avatar">
          </ion-avatar>
          <h2>{{project.name}}</h2>
          <p>{{project.initial_date}} a {{project.final_date}}</p>
          <span *ngIf="project.status">
              <ion-badge item-end color="secondary">Terminado</ion-badge>
          </span>
        </ion-item>      
        <ion-card-content>
          <p>{{project.description}}</p>
        </ion-card-content>
        <span>
            <ion-badge item-end color="dark">{{project.total_tasks}} Tasks</ion-badge>
        </span>
      </ion-card>
  </div>
</ion-content>
