<ion-content class="box_general">
  <div class="box_login">
    <input class="input_login" [(ngModel)]="user" type="text" placeholder="Usuario">
    <input class="input_login" [(ngModel)]="password" placeholder="password" type="password">

    <button class="btn_login" (click)="login()">LogIn</button>
  </div>
</ion-content>