page-home {
    .box_general{
        width: 100%;
        min-height: 100vh;
        background-color: white;
    }

    .box_login{
        width: 90%;
        max-height: 60%;
        background-color: white;
        position: fixed;
        top: 20%;
        left: 5%;
        border-radius: 5px;
        border-top-left-radius: 15xp;
        border-top-right-radius: 15px;
        border-top: 6px solid black;
        padding: 10px;
        border-left: 1px solid rgba(0,0,0,.2);
        border-bottom: 1px solid rgba(0,0,0,.2);
        border-right: 1px solid rgba(0,0,0,.2);
    }

    .input_login{
        display: block;
        width: 80%;
        height: 7vh;
        margin: 10px auto;
        border-radius: 5px;
        border: 1px solid rgba(0,0,0,.2);
        padding: 10px,
    }

    .btn_login{
        background-color: black;
        width: 80%;
        display: block;
        margin: 5px auto;
        padding: 10px;
        border-radius: 20px;
        color: white;
        font-size: 1.2em;
    }


}
