<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{task.alias}} Developers</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-card *ngFor="let developer of developers">
      <ion-item>
        <ion-avatar item-start>
          <img [src]="url+developer.user.userprofile.avatar">
        </ion-avatar>
        <h2>{{developer.user.username}}</h2>
        <p>{{developer.user.email}}</p>
      </ion-item>
      <ion-row>
          <ion-item>
            Total Time: 
            <ion-badge item-end>{{parseTimeToString(developer.total_time)}}</ion-badge>
          </ion-item>
          <ion-item>
            Progreso: 
            <ion-badge item-end>{{developer.percentage}}%</ion-badge>
          </ion-item>
      </ion-row>
    </ion-card>
</ion-content>
