page-task {
    .box-subtask{
        width: 90%;
        margin-left: 10%;
    }

    .statusTask{
        padding: 10px 20px;
        border-radius: 20px;
        color: white;
        font-weight: bold;
    }

    .toDo{
        background: #F0C419;
    }

    .inProgress{
        background: #2D95BF;
    }

    .btn-add,.finished{
        background: #4EBA6F;
    }
}
