
<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{project.alias}} Tasks</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
    <ion-item>
      <ion-avatar item-start>
          <img [src]="'http://localhost:8000'+project.avatar">
      </ion-avatar>
      <h2>{{project.name}}</h2>
      <p>{{project.initial_date}} a {{project.final_date}}</p>
    </ion-item>
    <ion-card-content>
      <p>{{project.description}}</p>
    </ion-card-content>
  
    <div *ngFor="let task of tasks; let i = index">
        <ion-card *ngIf="task.parent_task == null">
            <ion-item>
              <h2>#{{task.id}} {{task.alias}}</h2>
              <p>{{task.name}}</p>
            </ion-item>
            <ion-card-content>
              <p>{{task.description}}</p>
              <button class="statusTask {{statusToString(task.status)}}" (click)="changeStatus(task.id,task.status,i)" >{{statusToString(task.status)}}</button>
              <button *ngIf="task.is_developer" class="statusTask btn-add" (click)="showMyData(task.id,i)" >Mis Datos</button>
            </ion-card-content>
          
            <ion-row>
                <ion-col>
                  <button ion-button icon-left clear small (click)="goToDevelopers(task)">
                    <ion-icon name="people"></ion-icon>
                    <div>{{task.total_developers}} Developers</div>
                  </button>
                </ion-col>
                <ion-col>
                  <button ion-button icon-left clear small (click)="goToComments(task)">
                    <ion-icon name="text"></ion-icon>
                    <div>{{task.total_comments}} Comments</div>
                  </button>
                </ion-col>
              </ion-row>
          </ion-card>
          <div *ngFor="let subtask of tasks" class="box-subtask">
              <ion-card *ngIf="subtask.parent_task == task.id">
                  <ion-item>
                    <h2>#{{subtask.id}} {{subtask.alias}}</h2>
                    <p>{{subtask.name}}</p>
                  </ion-item>
                  <ion-card-content>
                    <p>{{subtask.description}}</p>
                    <button *ngIf="subtask.is_developer" class="statusTask {{statusToString(subtask.status)}}" (click)="changeStatus(subtask.id,subtask.status,i)" >{{statusToString(subtask.status)}}</button>
                    <button *ngIf="subtask.is_developer" class="statusTask btn-add" (click)="showMyData(task.id,i)" >Mis Datos</button>
                  </ion-card-content>
                
                  <ion-row>
                      <ion-col>
                        <button ion-button icon-left clear small (click)="goToDevelopers(subtask)">
                          <ion-icon name="people"></ion-icon>
                          <div>{{subtask.total_developers}} Developers</div>
                        </button>
                      </ion-col>
                      <ion-col>
                        <button ion-button icon-left clear small (click)="goToComments(subtask)">
                          <ion-icon name="text"></ion-icon>
                          <div>{{subtask.total_comments}} Comments</div>
                        </button>
                      </ion-col>
                    </ion-row>
                </ion-card>
          </div>
    </div>
</ion-content>
