<ion-header>

  <ion-navbar color="dark">
    <ion-title>{{task.alias}} Comments</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div class="box-comments">
      <div *ngFor="let comment of comments" >
        <div *ngIf="comment.parent_comment == null" class="box-comment">
            <ion-item >
                <ion-avatar item-start>
                  <img [src]="url+comment.user.userprofile.avatar">
                </ion-avatar>
                <h2>@{{comment.user.username}}:</h2>
                <p>{{comment.comment}}</p>
              </ion-item>
              <div *ngFor="let subcomment of comments" class="box-subcomment">
                  <ion-item *ngIf="subcomment.parent_comment == comment.id">
                      <ion-avatar item-start>
                        <img [src]="url+subcomment.user.userprofile.avatar">
                      </ion-avatar>
                      <h2>@{{subcomment.user.username}}:</h2>
                      <p>{{subcomment.comment}}</p>
                    </ion-item>
              </div>
              <div class="box-form-comment">
                  <input type="text" [id]="'newcomment'+comment.id" class="input-comment" placeholder="Contestar a este comentario" (keyup.enter)="newComment(comment.id)" >
              </div>
        </div>
      </div>
  </div>
  <div class="box-form-comment">
    <input type="text" class="input-comment" (keyup.enter)="newComment(null)" [id]="'newcomment'" placeholder="Escribe un comentario">
  </div>
</ion-content>
