page-comment {
    .box-comments{
        width: 100%;
        height: 80vh;
        overflow: auto;
    }

    .box-form-comment{
        width: 100%;
        height: 10vh;
        border-top: 2px solid rgba(0,0,0,.2);
    }

    .input-comment{
        width: 100%;
        height: 10vh;
        border: 0px;
        padding: 10px;
    }

    .box-comment{
       margin: 10px 0;
    }

    .box-subcomment{
        width: 90%;
        margin-left: 10%;
    }
}
